<!DOCTYPE html>

<head>
<meta charset="utf-8">
<title>MyGTD</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入 Bootstrap -->
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- <script src="../static/bootstrap/js/bootstrap.min.js"></script> -->
    <script src="../static/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
	<section id="content">
		<form action="" method="post">
            {% csrf_token %}
            <h1>注册</h1>
		    <div>
				<input type="text" placeholder="Username" required="required" id="id_username" name="username"/>
			</div>
			<div>
				<input type="password" placeholder="Password" required="required" id="id_password1" name="password1"/>
			</div>
            <div>
				<input type="password" placeholder="Password confirmation" required="required" id="id_password2" name="password2"/>
			</div>
            <div>
				<input type="text" placeholder="Email" required="required" id="id_email" name="email"/>
			</div>
			<div>
				<input type="submit" value="注册" />
                <a href="#">忘记密码?</a >
				<a href="../login">登录</a>
			</div>
		</form><!-- form -->
	</section><!-- content -->
</div><!-- container -->
<!-- <div class="container">
	<p align="middle">提示:密码至少包含8位字母和数字</p>
</div> -->

</body>
</html>
